%header
  .header
    .header__left
      .header__left__btn
      .header__left__video
        = "video"
    .header__mid
      -# .header__mid__form
      -#   = form_for "ff" do |f|
      -#   -# = f.text_field :text
      -# .header__mid__submit
      -#   = f.submit :"検索"
    .header__right
      .header__right__icon1
      .header__right__icon2
      .header__right__icon3
      .header__right__icon4